body {
    --font: "Titillium ExtraLight";
    font-family: var(--font);
    font-size: 20px;

    background-color: var(--background);
    color: var(--text-color);

    transition: all 0.2s;
}

/* Setting the proper fonts */
b { font-family: "Titillium SemiBold"; }
i { font-family: "Titillium Italic"; }
a {
    color: var(--accent);
}


/* Highlight color */
::selection {
  background: var(--selection); /* WebKit/Blink Browsers */
  color: black;
}
::-moz-selection {
  background: var(--selection); /* Gecko Browsers */
}


/* A basic contianer to shrink the content */
.container {
    transition: width 0.3s;
    /* The golden ratio */
    width: 61.8%;

    /* Center it */
    margin-left: auto;
    margin-right: auto;

    margin-top: 2em;
    margin-bottom: 2em;
    padding: 1em;
}


/* Heading Styles */
h1 {
    /* width: max-content; */
    /* border-top-left-radius: 15px; */
    border-top: 3px solid var(--accent);
    border-left: 3px solid var(--accent);
    padding-left: 10px;
}
h2 {
    margin-top: 3em;
    width: max-content;
    border-bottom: 2px dashed var(--accent);
}
h3 {
    margin-top: 2em;
    width: max-content;
    /* border-bottom: 2px dotted var(--accent); */
}

.lead {
    display: inline;
    font-size: 28px;
    font-family: "Titillium Regular";
    font-variant: small-caps;
}

.time {
    display: flex;
    float: right;
    bottom: 0;
    font-size: 24px;
}

/* Styles for the "lights" button that changes the theme */
#lights {
    width: max-content;
    position: absolute;
    left: 5;
    top: 5;

    font-family: "Titillium ExtraLight";
    border-bottom: 1px dashed var(--accent);

    cursor: pointer;
}


p {
    font-family: "Titillium ExtraLight";
}

code {
    font-size: 16px;
    border-radius: 8px;
    background-color: var(--pale);
    color: black;
    padding: 4px;
    margin-left: 5px;
    margin-right: 3px;
}
