@font-face {
  font-family: "Titillium Regular";
  src: url("TitilliumWeb-Regular.ttf");
}

@font-face {
  font-family: "Titillium Bold";
  src: url("TitilliumWeb-Bold.ttf");
}

@font-face {
  font-family: "Titillium Italic";
  src: url("TitilliumWeb-Italic.ttf");
}

@font-face {
  font-family: "Titillium Light";
  src: url("TitilliumWeb-Light.ttf");
}
